*{
    margin:0;
    padding:0; 
}

body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }

/* Inicio clases navBar */
.navFlex {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: flex-end;
}

.navFlex li {
    list-style-type: none;
    padding: 15px;
    font-size: 1rem;
    color: white;
}

.navFlex li a {
    text-decoration: none;
    color: white
}

.navFlex li p{
    justify-content: center;
}

.navFlex li a:hover {
    text-shadow: 2px 2px 3px black;
}

.fondoNav {
    background-color: brown;
    width: 100%;
}

.cantCarritoInicio{
    opacity: 0;
}

#menu>li>ul{
    display: none;
}
#menu>li:hover>ul {
    display:block;
}
/* Fin clases navBar */

/* Inicio clases compartidas */
.body{
    background-color: brown;
    background-repeat: no-repeat;
    background-size: cover;
}

.botonCrear{
    width: 50%;
    margin-top: 5px;
}

.formularioRegistro{
    text-align: center;
    color: white;
}

.parte1y3{
    height: 300px;
    background-image: url(../assets/barrica.png);
    background-repeat: no-repeat;
    background-size:contain ;
    justify-items: center;
}

.barricaIzq{
    background-position: right;
}

.botonRegistro{
    width: 50%;
    margin-left: 25%;
}

.formularioLogin{
    height: 150px;
    text-align: center;
    color: white;
}

.formularioLogin button, input{
    width: 60%;
}

.login{
    color: white;
}
/* Fin clases compartidas */


/* Inicio clases footer */

.traslado img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


/* .pie-pagina{
    width: 100%;
    height: 325px;
    background-color: lightblue;
} */

.pie-pagina {
    width: 100%;
    height: 325px;
    background-color: rgba(168, 207, 69, 0.5);
}


.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
    color: black;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
    color: black;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .nosotros{
    text-align: center;
}

.pie-pagina .grupo-1 .redes{
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    transition: all 300ms ease;
}
.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small {
    font-size: 15px;
}
.pie-pagina .grupo-2 .margenInferior img {
    margin-bottom: 30px;
}

.calzar img {
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
}

/* Fin clases footer */

/* Inicio clases index.html */
.vinos img{
    width: 90%;
    margin-left: 5%;
}

.experiencias img{
    width: 90%;
    margin-left: 5%;
}

.estiloTienda h3, p{
    text-align: center;
}

.estiloTienda{
    align-self: center;
    margin-left: 5%;
    color: white;
}

.row{
    align-items: center;
    --bs-gutter-x: 0;
}

.bloqueo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.bloqueo p{
    text-align: center;
    font-size: 1.5rem;
}

.bloqueo img{
    width: 500px;
    height: auto;
}

.bloqueo button{
    width: 40%;
    margin-top: 10px;
}

.menor:hover{
    background-color: red;
}

.mayor:hover{
    background-color: green;
}  

.control18 p{
    color: black;
}

.emergente{
    width:400px;
    height:250px;
    position:fixed;
    background-color:#FFFAFA;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-100px;
    border:1px solid #000;
    border-radius:10px;
    padding:20px;
    text-align:center;
    box-shadow: 10px 10px 10px #ccc;
    z-index: 1;
    opacity: 1;
}

.emergente p{
    font-size:24px;
}

/* Fin clases index.html */



/* Inicio clases productos.html */
.bodyProductos{
    background-color: brown;
}

.titulo{
    color: white;
    text-align: center;
}

.filtro{
    position: relative;
    display: flex;
    flex-direction: column;
}

.filtro p{
    text-align: center;
}

.portada img{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.sidebar{
    position: absolute;
    background-color:darkgrey;
    width: 80%;
    visibility: hidden;
    left: 10%;
    z-index: 1;
}

.formatoCarro{
    text-align: center;
} 

.formatoCarro li{
    list-style-type: none;
    display: inline-block;
}

.formatoCarro ul{
    justify-content: space-around;
}

.losvinos{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.alineacion{
    display: flex;
    align-items: stretch;
    color: white;
}

.botonFiltro{
    width: 20%;
    margin-left: 40%;
}

.tituloFiltro{
    color: white;
}

.tamano{
    width: 120px;
    height: 300px;
}

.tamano img{
    width: 100%;
    height: 100%;
}

.tamano2{
    width: 200px;
    height: 300px;
    text-align: center;
}

.orden{
    display: flex;
    flex-direction:row;
    margin-bottom: 5px;
    margin-left: 5px; 
}

.orden p{
    color: black;
}

.orden input{
    pointer-events: none;
}

.ordenyprogreso{
    position: relative;
    display: inline-block; 
    justify-content: center;
} 

.botonMedida{
    width: 25px;
    height: auto;
    margin-bottom: 15px;
    text-align: center;
}

.tamanio img{
    width: 60px;
    height: 150px;
}

.botonesCarrito{
    width: 60%;
    margin-bottom: 10px;
}

.btn-carrito{
    border: none;
    background-image: url(../assets/carritoLleno.png);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: 'Hubballi', cursive;
} 

.figuraCarro img{
    width: 50px;
    height: 50px;
}  

/* Fin clases productos.html */

/* Inicio clases experiencias.html */
.maridaje img{
    width: 90%;
    margin-left: 5%;
}

.textosExperiencia h2, p{
    text-align: center;
    color: white;
}

.suscripcion{
    text-align: center;
    color: white;
}

.suscripcion input{
    width: 50%;
}

.suscripcion button{
    width: 35%;
    margin-top: 5px;
    margin-bottom: 10px;
}
/* Fin clases experiencias.html */


/* Inicio clases extras */
.eleccion{ 
    width: 40%;
    margin-left: 30%;
    margin-bottom: 50px;
    background-color: rgb(118, 135, 152,0.5);
    color: white;
}

.eleccion p{
    font-size: 2rem;
    text-align: center;
    color: white;
}

.eleccion button{
    width: 40%;
    margin-left: 5%;
}

.fila{
    display: flex;
    flex-direction: row;
}

.alinear{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}

.margenAlto{
    background-color: lightgray;
}

.items li{
    list-style: none;
    padding: 0px;
}

.item ul{
    padding: 0px;
}

.item label{
    padding: 0px;
}

.active{
    visibility: visible;
}

.tipito img{
    width: 50px;
    height: 25px;
}

.boton{
    font-size:18px;
    padding:10px;
    border:1px solid #000;
    border-radius:5px;
    display:inline-block;
    width:150px;
    margin-top:32px;
    box-shadow:5px 5px 5px #ccc;
}

.body{
    z-index: 2;
}

.cierre{
    text-align: right;
    align-content: flex-end;
}
/* Fin clases extras */